$primary-color: #FF6060;
$secondary-color: #FFFFFF;
$tertiary-color:  #E3E3E3;

$primary-bg-color: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
$secondary-bg-color: #F6F6F6;
$tertiary-bg-color: #C4C4C4;
$fourth-bg-color: #000000;

$font-size-xxs: 12px;
$font-size-xs: 14px;
$font-size-sm: 18px;
$font-size-md: 24px;
$font-size-lg: 36px;
$font-size-xl: 48px;

$font-weight-md: 400;
$font-weight-lg: 500;

$logo-xs-width: 120px;
$logo-xs-height: 40px;
$logo-sm-width: 150px;
$logo-sm-height: 45px;
$logo-width: 210px;
$logo-height: 70px;