@import '../abstracts/variables';

html {
    position: relative;
    .footer {
        position: absolute;
        bottom: -25vh;
        left: 0;
        right: 0;
        background-color: $fourth-bg-color;
        display: flex;
        flex-direction: column;
        padding: 4vw 5vw 2vw 5vw;
        @media (max-width: 1300px) {
            bottom: -20vh;
        };
        @media (max-width: 1000px) {
            height: 20vh;
            bottom: -25vh;
        };
        svg {
            margin: auto;
            width: $logo-xs-width;
            height: $logo-xs-height;
        };
        h5 {
            color: $secondary-color;
            margin: 2vw auto auto auto;
            font-weight: $font-weight-lg;
            font-size: $font-size-md;
            @media (max-width: 600px) {
                font-size: $font-size-xxs;
            };
        };
    };
}
