@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 4vh 6vw 0 6vw;
}

.header {
  display: flex;
  justify-content: space-between;
}
.header h1 svg {
  width: 210px;
  height: 70px;
}
@media (max-width: 600px) {
  .header h1 svg {
    width: 150px;
    height: 45px;
  }
}
@media (max-width: 360px) {
  .header h1 svg {
    width: 120px;
    height: 40px;
  }
}
.header .navigation {
  margin: auto 0 auto 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.header .navigation :first-child {
  margin-right: 3vw;
}
.header .navigation .nav-link {
  color: #FF6060;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
}
@media (max-width: 600px) {
  .header .navigation .nav-link {
    font-size: 12px;
  }
}
.header .navigation .active {
  text-decoration: inherit;
  border-bottom: 1px solid;
}

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
}
.banner-container .banner-title {
  position: absolute;
  z-index: 3;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 48px;
}
@media (max-width: 1200px) {
  .banner-container .banner-title {
    font-size: 24px;
  }
}
@media (max-width: 700px) {
  .banner-container .banner-title {
    overflow-wrap: break-word;
    width: 60%;
    text-align: start;
    -webkit-text-orientation: upright;
            text-orientation: upright;
  }
}
@media (max-width: 370px) {
  .banner-container .banner-title {
    font-size: 14px;
  }
}
.banner-container .banner-image {
  width: 100%;
  border-radius: 25px;
  z-index: 1;
  filter: brightness(60%);
}
@media (max-width: 700px) {
  .banner-container .banner-image {
    height: 110px;
    border-radius: 10px;
  }
}
@media (max-width: 370px) {
  .banner-container .banner-image {
    height: 10vh;
  }
}

html {
  position: relative;
}
html .footer {
  position: absolute;
  bottom: -25vh;
  left: 0;
  right: 0;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  padding: 4vw 5vw 2vw 5vw;
}
@media (max-width: 1300px) {
  html .footer {
    bottom: -20vh;
  }
}
@media (max-width: 1000px) {
  html .footer {
    height: 20vh;
    bottom: -25vh;
  }
}
html .footer svg {
  margin: auto;
  width: 120px;
  height: 40px;
}
html .footer h5 {
  color: #FFFFFF;
  margin: 2vw auto auto auto;
  font-weight: 500;
  font-size: 24px;
}
@media (max-width: 600px) {
  html .footer h5 {
    font-size: 12px;
  }
}

.card-container {
  width: 90%;
  background-color: #F6F6F6;
  border-radius: 25px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px 50px;
  padding: 5%;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
@media (max-width: 1500px) {
  .card-container {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 1000px) {
  .card-container {
    grid-template-columns: auto;
    padding: inherit;
    background-color: inherit;
    gap: 50px 0;
    width: 100%;
  }
}

.card {
  background-color: #FF6060;
  height: 40vh;
  border-radius: 10px;
  position: relative;
}
@media (max-width: 1000px) {
  .card {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .card {
    height: 25vh;
  }
}
.card .card-title {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  z-index: 10;
  margin: 0;
}
.card .card-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.card .card-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.description-container {
  display: flex;
  justify-content: space-between;
  margin-top: 3vh;
}
@media (max-width: 1100px) {
  .description-container {
    flex-direction: column;
  }
}
.description-container .description-content-left {
  height: 100%;
  align-items: center;
}
.description-container .description-content-left .description-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.description-container .description-content-left .description-header .description-title {
  color: #FF6060;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 0.5em;
}
@media (max-width: 525px) {
  .description-container .description-content-left .description-header .description-title {
    font-size: 18px;
  }
}
.description-container .description-content-left .description-header .description-location {
  color: #FF6060;
  font-size: 18px;
  font-weight: 500;
  margin-top: 5px;
}
@media (max-width: 525px) {
  .description-container .description-content-left .description-header .description-location {
    font-size: 14px;
  }
}
.description-container .description-content-left .description-tags .description-tag {
  background-color: #FF6060;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 3px 30px 3px 30px;
  font-size: 14px;
  font-weight: 500;
  margin-right: 10px;
}
@media (max-width: 525px) {
  .description-container .description-content-left .description-tags .description-tag {
    font-size: 10px;
    border-radius: 5px;
    padding: 3px 15px 3px 15px;
  }
}
.description-container .description-content-right {
  width: 11em;
}
@media (max-width: 1100px) {
  .description-container .description-content-right {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
}
.description-container .description-content-right .description-profil {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1100px) {
  .description-container .description-content-right .description-profil {
    width: 11em;
  }
}
@media (max-width: 525px) {
  .description-container .description-content-right .description-profil {
    width: 6.75em;
  }
}
.description-container .description-content-right .description-profil .description-profil-name {
  color: #FF6060;
  font-size: 18px;
  font-weight: 500;
  width: 50%;
  text-align: end;
  line-height: 1.6;
}
@media (max-width: 525px) {
  .description-container .description-content-right .description-profil .description-profil-name {
    font-size: 12px;
    width: 60%;
  }
}
.description-container .description-content-right .description-profil .description-profil-container-image {
  width: 64px;
  height: 64px;
  background-color: #C4C4C4;
  border-radius: 50%;
}
@media (max-width: 525px) {
  .description-container .description-content-right .description-profil .description-profil-container-image {
    width: 32px;
    height: 32px;
  }
}
.description-container .description-content-right .description-profil .description-profil-container-image .description-profil-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.description-container .description-content-right .description-rating {
  text-align: end;
}
.description-container .description-content-right .description-rating .description-star-empty {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
@media (max-width: 525px) {
  .description-container .description-content-right .description-rating .description-star-empty {
    width: 15px;
    height: 15px;
  }
}
.description-container .description-content-right .description-rating .description-star-empty path {
  fill: #E3E3E3;
}
.description-container .description-content-right .description-rating .description-star-full {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
@media (max-width: 525px) {
  .description-container .description-content-right .description-rating .description-star-full {
    width: 15px;
    height: 15px;
  }
}
.description-container .description-content-right .description-rating .description-star-full path {
  fill: #FF6060;
}

.dropdown {
  margin-top: 5vh;
}
.dropdown .dropdown-header {
  background-color: #FF6060;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 600px) {
  .dropdown .dropdown-header {
    padding: 5px 10px 5px 10px;
    font-size: 14px;
  }
}
.dropdown .dropdown-header .dropdown-title {
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
  margin: 0;
}
@media (max-width: 600px) {
  .dropdown .dropdown-header .dropdown-title {
    font-size: 14px;
  }
}
.dropdown .dropdown-header .dropdown-arrow-container {
  padding: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .dropdown .dropdown-header .dropdown-arrow-container {
    width: 20px;
    height: 20px;
  }
}
.dropdown .dropdown-header .dropdown-arrow-container:hover {
  cursor: pointer;
}
.dropdown .dropdown-header .dropdown-arrow-container .dropdown-arrow {
  width: 25px;
  height: 15px;
  transform: rotate(180deg);
}
@media (max-width: 600px) {
  .dropdown .dropdown-header .dropdown-arrow-container .dropdown-arrow {
    width: 15px;
    height: 10px;
  }
}
.dropdown .dropdown-header .dropdown-arrow-container .dropdown-arrow path {
  fill: #FFFFFF;
}
.dropdown .dropdown-header .dropdown-arrow-container .close-arrow {
  transform: inherit;
}
.dropdown .dropdown-content {
  background-color: #F6F6F6;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 24px;
  font-weight: 400;
  color: #FF6060;
  padding-top: 20px;
}
@media (max-width: 600px) {
  .dropdown .dropdown-content {
    font-size: 12px;
  }
}
.dropdown .dropdown-content .dropdown-description {
  padding: 0px 25px 60px 25px;
}
.dropdown .dropdown-content .dropdown-list {
  list-style: none;
  padding: 0px 25px 45px 25px;
}
.dropdown .dropdown-content .dropdown-list li {
  list-style: none;
  margin-top: 15px;
}

.dropdown-sm {
  width: 45%;
}
@media (max-width: 1350px) {
  .dropdown-sm {
    width: 80%;
  }
}
@media (max-width: 700px) {
  .dropdown-sm {
    width: 100%;
  }
}

.gallery {
  position: relative;
  width: 100%;
  height: 50vh;
  margin-top: 3vh;
}
@media (max-width: 700px) {
  .gallery {
    height: 25vh;
  }
}
@media (max-width: 700px) {
  .gallery {
    height: 20vh;
  }
}
.gallery .gallery-icon-container {
  position: absolute;
  top: 40%;
  bottom: 40%;
  left: 2.5%;
  height: 20%;
  display: flex;
  align-items: center;
}
.gallery .gallery-icon-container__next {
  right: 2.5%;
  left: inherit;
}
.gallery .gallery-icon-container:hover {
  cursor: pointer;
}
.gallery .gallery-icon-container .gallery-next-icon {
  width: 48px;
  height: 80px;
  transform: rotate(180deg);
}
@media (max-width: 700px) {
  .gallery .gallery-icon-container .gallery-next-icon {
    border-radius: 10px;
    width: 10px;
    height: 20px;
  }
}
.gallery .gallery-icon-container .gallery-next-icon path {
  fill: #FFFFFF;
}
.gallery .gallery-icon-container .gallery-prev-icon {
  width: 48px;
  height: 80px;
}
@media (max-width: 700px) {
  .gallery .gallery-icon-container .gallery-prev-icon {
    border-radius: 10px;
    width: 10px;
    height: 20px;
  }
}
.gallery .gallery-icon-container .gallery-prev-icon path {
  fill: #FFFFFF;
}
.gallery .gallery-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}
@media (max-width: 700px) {
  .gallery .gallery-image {
    border-radius: 10px;
  }
}

.housing-container-dropdowns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vh;
}
@media (max-width: 1350px) {
  .housing-container-dropdowns {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.about-dropdown-container {
  margin-bottom: 5vh;
}

.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.not-found-container .not-found-title {
  color: #FF6060;
  font-size: 288px;
  font-weight: bold;
  margin: 4vh 0 0 0;
}
@media (max-width: 1100px) {
  .not-found-container .not-found-title {
    font-size: 96px;
  }
}
.not-found-container .not-found-sub-title {
  color: #FF6060;
  font-size: 36px;
  font-weight: 500;
  margin-top: 1vh;
}
@media (max-width: 1100px) {
  .not-found-container .not-found-sub-title {
    font-size: 18px;
    text-align: center;
    width: 80%;
  }
}
.not-found-container .not-found-back-link {
  color: #FF6060;
  font-size: 18px;
  font-weight: 500;
  margin-top: 14vh;
  margin-bottom: 8vh;
}
@media (max-width: 1100px) {
  .not-found-container .not-found-back-link {
    font-size: 14px;
  }
}

.logo-red path {
  fill: #FF6060;
}

.logo-white path {
  fill: #FFFFFF;
}

.loader-ring {
  display: inline-block;
  position: absolute;
  left: 45%;
  right: 45%;
  top: 45%;
  bottom: 45%;
  width: 10%;
  height: 10%;
}
.loader-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #FF6060;
  border-radius: 50%;
  -webkit-animation: loader-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: loader-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #FF6060 transparent transparent transparent;
}
.loader-ring div :nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}
.loader-ring div :nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.loader-ring div :nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes loader-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=main.css.map */